body {
    font-family: Arial, sans-serif; 
    background-image: url(Red.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}
#auth-container{
    margin: 90px auto;

}
h2{
    text-align: center;
}

#login-form{
    width: 100%;
    
}

#login-username, #login-password{
    font-size: 15px;
    width: 90%;
    padding: 10px;
}
#app {
    text-align: center;
    margin-top: 0rem;
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
#login-form, #profile {
    margin-left: 29rem;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10% 10% 10% 0%;
    opacity: 0.8;
    border: 1px solid #ccc;
    width: 35%;


}
a{
    text-decoration: none;
    color: rgb(11, 11, 114);
}
button {
    padding: 10px;
    cursor: pointer;
    width: 50%;
    background-color: rgb(96, 96, 226);
    color: #f0f0f0;
    border-radius: 12px;
}


@media screen and (max-width: 600px){
    *{
        margin: 0rem;
        padding: 0rem;
    }
    body{
        margin: 0;
        padding: 0;
        height: 86.5vh;
    }
    div#login-form {
        
        margin-left: 146px;
        margin-top: 88px;
    
    }
}